:root {
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  background: #1a1c20;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #1a1c20;
}

.section {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #1a1c20;
}

header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 132px;
  flex: 0 0 132px;
  padding: 0 20px;
}
header #search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
header #search_bar #search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  border: 1px solid #666;
  background: inherit;
  padding: 10px 10px;
  color: #fcfcfc;
}
header #search_bar #search::-moz-placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search::-webkit-input-placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search:-ms-input-placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search::-ms-input-placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search::placeholder {
  color: #6f6f6f;
  text-decoration: underline;
}
header #search_bar #search ~ button {
  position: absolute;
  right: 10px;
  display: block;
  width: 20px;
  height: 20px;
  display: block;
  border: none;
  background: url("https://i.postimg.cc/85FPdv3N/icons8-50.png") center center;
  background-size: cover;
  text-indent: -9999px;
}
header nav {
  padding-bottom: 16px;
  border-bottom: 1px solid #6f6f6f;
}
header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25px;
}
header nav ul li:hover {
  background: #ff4350;
}
header .toggle_btn {
  position: absolute;
  display: none;
}
header .toggle_btn img {
  display: block;
  cursor: pointer;
}
header .last_activity {
  margin-top: 20px;
  margin-bottom: 80px;
}
header .last_activity li {
  font-size: 12px;
}

.releases {
  width: 900px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  /* max-width: 900px; */
  padding-top: 72px;
  padding-left: 22px;
  background: #1a1c20;
}
.releases h2 {
  font-size: 22px;
  margin-bottom: 38px;
}
.releases .movie_cards ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.releases .movie_cards ul li {
  position: relative;
  width: 270px;
  height: 166px;
  -webkit-box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
  margin-bottom: 120px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.releases .movie_cards ul li .rank {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 28px;
  height: 16px;
  border-radius: 28px;
  background: #ffb20f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
}
.releases .movie_cards ul li .movie_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}
.releases .movie_cards ul li .movie_img img {
  display: block;
  height: 100%;
}
.releases .movie_cards ul li h3 {
  font-size: 16px;
  margin-bottom: 8px;
}
.releases .movie_cards ul li p.description {
  opacity: 0.5;
  font-size: 12px;
  height: 20px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.releases .movie_cards ul li:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 20;
}
@media (max-width: 890px) {
  .section {
    width: 90%;
    display: block;
  }
  .section #search_bar {
    width: 100%;
    display: block;
    padding-top: 20px;
  }
  .section #search_bar #search {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    font-size: 1.5em;
    padding: 40px;
  }
  .section #search_bar #search::-moz-placeholder {
    font-size: 1em;
    text-decoration: none;
  }
  .section #search_bar #search::-webkit-input-placeholder {
    font-size: 1em;
    text-decoration: none;
  }
  .section #search_bar #search:-ms-input-placeholder {
    font-size: 1em;
    text-decoration: none;
  }
  .section #search_bar #search::-ms-input-placeholder {
    font-size: 1em;
    text-decoration: none;
  }
  .section #search_bar #search::placeholder {
    font-size: 1em;
    text-decoration: none;
  }
  .section #search_bar button {
    top: 34px;
    right: 26px !important;
    width: 50px !important;
    height: 50px !important;
  }
  .section nav {
    display: none;
  }
  .section .last_activity {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .section .last_activity ul li {
    font-size: 2em;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
  .releases {
    width: 100%;
    padding: 0;
  }
  .releases h2 {
    margin-left: 5%;
  }
  .releases .movie_cards ul {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .releases .movie_cards ul li {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .releases .movie_cards ul li:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .releases .movie_cards ul .movie_img {
    width: auto;
    height: auto;
  }
  .releases .movie_cards ul .description {
    display: none;
  }
}

@media (max-width: 700px) {
  .releases {
    width: auto;
  }
  .releases .movie_cards ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
  }
  .releases .movie_cards ul li {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    width: 80%;
    height: auto;
    margin-bottom: 40px;
  }
  .releases .movie_cards ul li .movie_img {
    width: auto;
    height: auto;
  }
  .releases .movie_cards ul li .movie_img img {
    width: 100%;
  }
  .releases .movie_cards ul li h3 {
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}
.likes_wrap {
  margin-top: 10px;
  font-size: 15px;
  line-height: 2;
}

.likeMovie {
  border: 1px solid gainsboro;
  margin-bottom: 10px;
}

/* [페이지 상단으로 이동] */
.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background-image: url("../assets/화살표.png");
  background-size: cover;
  cursor: pointer;
}

/* [페이지 상단으로 이동] */
.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background-image: url("../assets/화살표.png");
  background-size: cover;
  cursor: pointer;
}
